.footer {
  background-color: $secondary-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.footer__info {
  margin-bottom: 60px;
}

.footer__input {
  margin-bottom: 20px;
}

.footer__btn {
  margin: 0 auto;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__contacts {
  & > *:not(:last-child) {
    margin-bottom: 8px;
  }
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__link--white {
  color: $primary-bg-color;
}

.footer__join {
  margin-bottom: 60px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-bg-color;
  margin-bottom: 20px;
}

.footer__input {
  padding: 15px 16px;
  width: 100%;
  background-color: #2196f300;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__btn {
  @extend .btn;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__icon {
  fill: $primary-bg-color;
  margin-left: 10px;
}

@media screen and (min-width: $tablet) {
  .footer__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    text-align: center;
  }

  .footer__info {
    margin-bottom: 60px;
    flex-basis: calc(100% / 2);
  }

  .footer__join {
    flex-basis: calc(100% / 2);
  }

  .footer__subscribe {
    flex-basis: 100%;
  }

  .footer__input {
    width: 450px;
    margin-bottom: 20px;
  }

  .footer__btn {
    margin: 0 auto;
  }
}

@media screen and (min-width: $desktop) {
  .footer__content {
    text-align: left;
    flex-wrap: nowrap;
  }

  .footer__info {
    margin-bottom: 0;
    flex-basis: 231px;
  }

  .footer__join {
    margin-left: 70px;
    flex-basis: 206px;
    margin-bottom: 0;
  }

  .footer__subscribe {
    margin-left: 93px;
    flex-basis: 570px;
  }

  .footer__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__input {
    width: 358px;
    margin-bottom: 0;
  }
}
